.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.bt2 {
    position: relative;
    top: 390px;
    left: -80px;
    width: 219.5px;
    height: auto;
}

/* 1849 1326*/
.Comic{
    background-position: center;
    width: 924.5px;
    height: 662.5px;
    background-size: 924.5px 662.5px;
    background-repeat: no-repeat;
    background-origin: border-box;
}