.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bt {
    position: relative;
    width: 10%;
    height: 10%;
    top: 50px;
    left: -200px;
}

.Intro {
    background-image: url('./Img/1.jpg');
    background-position: center;
    width: 1052px;
    height: 740px;
    background-size: 1052px 740px;
    background-repeat: no-repeat;
    background-origin: border-box;
}

.Before {
    background-image: url('./Img/2.jpg');
    background-position: center;
    width: 1052px;
    height: 740px;
    background-size: 1052px 740px;
    background-repeat: no-repeat;
    background-origin: border-box;
}
